.flex2 {
    display: flex;
    
    &--direction-row {
        flex-direction: row;
    }
    &--direction-column {
        flex-direction: column;
    }

    &--align-center {
        align-items: center;
    }
    &--align-start {
        align-items: flex-start;
    }
    &--align-end {
        align-items: flex-end;
    }
    &--justify-center {
        justify-content: center;
    }
    &--justify-start {
        justify-content: flex-start;
    }
    &--justify-end {
        justify-content: flex-end;
    }
}