<div class="c-articulo">
    <img class="c-articulo__imagen" src="{{urlImage}}" alt="">
    <h2 class="c-articulo__nombre">{{name}}</h2>
    <p class="c-articulo__precios">
        <span class="c-articulo__precio c-articulo__precio--actual">{{precioActual}}</span>
        &nbsp;
        <span class="c-articulo__precio c-articulo__precio--anterior">{{precioAnterior}}</span>
    </p>
    <p class="c-articulo__valoraciones">
        <span class="c-articulo__valoracion c-articulo__valoracion-numero">{{valoracion}}</span>
        <span class="c-articulo__valoracion c-articulo__icono">🌟</span>
        <span class="c-articulo__opiniones">{{opiniones}}</span>
    </p>
    <p class="c-articulo__envio">
        <span class="c-articulo__precio c-articulo__precio--envio">{{precioEnvio}}</span>
        <span class="c-articulo__envio-fecha">{{fechaEnvio}}</span>
    </p>
    <p class="c-articulo__otras-opciones">Otras opciones disponibles</p>

</div>